$font-OS: "Open Sans", ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji", sans-serif;

$white: #ffffff;
$white-25: #fafafa;
$white-30: #fbfbfb;
$white-50: #f2f2f2;
$white-75: #f1f2f6;

$black: #000000;
$gray: #a8a9ad;
$gray-50: #737373;
$gray-75: #6c6c6c;
$gray-100: #595959;

$yellow: #fdca57;
$blue: #31bacc;
$beige: #fdecc1;
$red: #f2737d;

$black_transparent: rgba(0, 0, 0, 0.6);
$blue_transparent: rgba(49, 186, 204, 0.34);

$shadow-sm: 0px 0px 6px rgba(0, 0, 0, 0.1);
$border-radius-default: 20px;

$mq-laptop: 1023px;
$content-max-width: 1040px;
